{% extends 'base.html.twig' %}

{% block title %}Hello Shiritori!{% endblock %}

{% block body %}
<main class="shiritori-home">
    <h1>Kanji Shiritori</h1>
    {% for message in app.flashes('success') %}
        <div class="alert success">
            {{ message }}
        </div>
    {% endfor %}
    <div>
        <h2>Ongoing shiritories</h2>
        {% for shiritori in shiritories %}
            <div class="card" id="shiritori-{{ shiritori.id }}">
                <div class="card-info">
                    <h3><a href="{{ path('shiritori', {'id': shiritori.id }) }}">Shiritori {{ shiritori.id }}</a></h3>
                    <p>Créé le {{ shiritori.createdAt|date("d/m/Y") }} par [username]</p>
                    {% set last = shiritori.words|last %}
                    <p>{{ shiritori.words | length }} mots{% if shiritori.words | length > 0 %} | Dernier mot : {{ last.word }}{% endif %}</p>
                </div>
                {% include 'modules/_deleteform.html.twig' %}
            </div>
        {% endfor %}
        <h2>Create new shiritori</h2>
        <a href="{{ path('create_shiritori') }}" class="btn-new">New</a>
    </div>
</main>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/delete.js') }}"></script>
{% endblock %}
