{% extends 'base.html.twig' %}

{% block title %}Shiritori {{ shiritori.id }}{% endblock %}

{% block body %}
<header>
    <h1>Kanji Shiritori {{ shiritori.id }}</h1>
    <a href="{{ path('home') }}">Back</a>
    <p>Ecrivez un mot commençant par le dernier kanji du mot précédemment saisi</p>
    <p>Exemple : 日<span class="example_kanji">本</span> &#62; <span class="example_kanji">本</span>気</p>
</header>
<main class="container">
    <section class="form-section" id="form-section">
        <div class="form-wrapper" id="form-wrapper">
            {{ form_start(form, {method: 'POST', action:path('shiritori', {'id': shiritori.id}), attr: {'class':'form-section__form','id':'post-form', 'novalidate': 'novalidate'}}) }}
            <div class="alert error" id="alert-section">
                {{ form_errors(form.word) }}
            </div>
            <div class="form-section__input" data-shiritori-id="{{ shiritori.id }}">
                <div class="form-section__row">
                    {{ form_widget(form.word) }}
                </div>
                <button type="submit" class="submit">Envoyer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
    <section class="string-section" id="string-section">
        <div class="string" id="string">
            {% for word in shiritori.words %}
                <p>{{ word.word }}  &#62;&nbsp;</p>
            {% endfor %}
        </div>
        <form method="POST" action="{{ path('delete_shiritori', {'id': shiritori.id}) }}" onsubmit="return confirm('Confirmer la suppression')" id="reset-form" class="reset">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
            <button class="delete">Supprimer ce Shiritori</button>
        </form>
    </section>
</main>
<footer>
    <p class="help">Besoin d'aide ? Trouvez un mot sur <a href="https://jisho.org/" target="_blank">Jisho.org</a> !</p>
    <p><a href="https://www.kanpai.fr/apprendre-japonais/comment-ecrire-clavier-japonais" target="_blank">Écrire en japonais</a> (kanpai.fr)</p>
    <p><em>Become the kanji master !</em></p>
</footer>
{% endblock %}
