{% extends 'base.html.twig' %}

{% block title %}Shiritori {{ shiritori.id }}{% endblock %}

{% block body %}
<header>
    <h1>Kanji Shiritori {{ shiritori.id }}</h1>
    <a href="{{ path('home') }}">Back</a>
    <p>Ecrivez un mot de <strong>deux kanjis</strong> dont le premier est identique au dernier kanji du mot précédent.</p>
    <p>Exemple : 日<span class="example_kanji">本</span> &#62; <span class="example_kanji">本</span>気</p>
</header>
<main class="container">
    <section class="form-section" id="form-section">
        {{ form_start(form, {method: 'POST', action:path('shiritori', {'id': shiritori.id}), attr: {'class':'form-section__form','id':'post-form', 'novalidate': 'novalidate'}}) }}
        <div class="alert error" id="alert-section">
            {{ form_errors(form.word) }}
        </div>
        <div class="form-section__input" data-shiritori-id="{{ shiritori.id }}">
            <div class="form-section__row">
                {{ form_widget(form.word) }}
            </div>
            <button type="submit" class="submit">Envoyer</button>
        </div>
        {{ form_end(form) }}
    </section>
    <section class="string-section" id="string-section">
        <p class="words-counter">Il y a <span id="counter">{{ shiritori.words | length }}</span> mots dans ce shiritori !</p>
        <div class="string" id="string">
            {% for word in shiritori.words %}
                <p>{{ word.word }}  &#62;&nbsp;</p>
            {% endfor %}
        </div>
    </section>
</main>
<footer>
    <p class="help">Besoin d'aide ? Trouvez un mot sur <a href="https://jisho.org/" target="_blank">Jisho.org</a>.</p>
    <p><em>Become the kanji master !</em></p>
    <form method="POST" action="{{ path('delete_shiritori', {'id': shiritori.id}) }}" onsubmit="return confirm('Confirmer la suppression')" id="delete-form" class="delete">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
        <button class="delete">Supprimer ce Shiritori</button>
    </form>
</footer>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
